In [2]:
import pandas as pd
dataset = pd.read_csv("Loan_Prediction_Dataset.csv")
dataset.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [3]:
print("Missing Data Analysis")
dataset.apply(lambda x: sum(x.isnull()),axis=0)

Missing Data Analysis

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [4]:
dataset['Gender'].value_counts()

Male      286
Female     70
Name: Gender, dtype: int64

In [5]:
dataset['Gender'] = dataset['Gender'].fillna('Male')
dataset['Dependents'].value_counts()

0     200
2      59
1      58
3+     40
Name: Dependents, dtype: int64

In [6]:
dataset.Dependents = dataset.Dependents.fillna('0')
dataset['Self_Employed'].value_counts()

No     307
Yes     37
Name: Self_Employed, dtype: int64

In [7]:
dataset['Self_Employed'] = dataset['Self_Employed'].fillna('N')
dataset['LoanAmount'].value_counts()

150.0    12
125.0    11
110.0    10
100.0     9
90.0      9
         ..
71.0      1
157.0     1
93.0      1
61.0      1
98.0      1
Name: LoanAmount, Length: 144, dtype: int64

In [8]:
dataset['LoanAmount'].fillna(dataset.LoanAmount.mean())
dataset['Credit_History'].value_counts()

1.0    279
0.0     59
Name: Credit_History, dtype: int64

In [9]:
dataset['Credit_History'].fillna(dataset['Credit_History'].mean())
dataset.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [10]:
dataset.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [ ]:
cols = ['Loan_ID', 'ApplicantIncome', 'CoApplicantIncome', 'LoanAmount','Loan_Amount_Term','Credit_History','Loan_Status']
data = dataset[cols]
data

In [ ]:
data1 = dataset.iloc[: ,[0,6]]
data1

In [ ]:
data2 = dataset[dataset['ApplicantIncome'] > dataset['ApplicantIncome'].mean()]
print(data2)

In [ ]:
dataset['Duration'] = dataset['Loan_Amount_Term']/12
dataset.info()

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dataset['Loan_ID'] = label_encoder.fit_transform(dataset['Loan_ID'])
dataset['Gender'] = label_encoder.fit_transform(dataset['Gender'])
dataset['Married'] = label_encoder.fit_transform(dataset['Married'])
dataset['Education'] = label_encoder.fit_transform(dataset['Education'])
dataset['Dependents'] = label_encoder.fit_transform(dataset['Dependents'])
dataset['Self_Employed'] = label_encoder.fit_transform(dataset['Self_Employed'])
dataset['Property_Area'] = label_encoder.fit_transform(dataset['Property_Area'])
dataset['Loan_Status'] = label_encoder.fit_transform(dataset['Loan_Status'])



dataset.info()

In [ ]:
data3 = dataset.groupby('Loan_ID').agg({'ApplicantIncome': ['sum', 'mean', 'count']}).reset_index()
data3

In [ ]:
iris1 = pd.read_csv("Iris1.csv")
iris2 = pd.read_csv("Iris2.csv")
inner_join = pd.merge(iris1, iris2, on='Id', how='inner')
outer_join = pd.merge(iris1, iris2, on='Id', how='outer')
left_join = pd.merge(iris1, iris2, on='Id', how='left')
right_join = pd.merge(iris1, iris2, on='Id', how='right')

print("Inner Join")
inner_join

In [ ]:
print("Outer Join")
outer_join

In [ ]:
print("Left Join")
left_join

In [ ]:
print("Right Join")
right_join

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
loan_status_counts = data['Loan_Status'].value_counts()
plt.bar(loan_status_counts.index, loan_status_counts.values, color='skyblue')
plt.xlabel('Loan Status')
plt.ylabel('Count')
plt.title('Loan Status Distribution')
plt.show()

In [ ]:
plt.plot(dataset['ApplicantIncome'], dataset['LoanAmount'])
plt.xlabel("Applicant Income")
plt.ylabel("Loan Amount")
plt.title("Relation between : Applicant Income and Loan Amount ")

In [ ]:
sns.scatterplot(data=dataset, x=dataset['ApplicantIncome'], y=dataset['LoanAmount'], hue=dataset['Property_Area'], palette='cool', alpha=0.7)
plt.xlabel('Applicant Income')
plt.ylabel('Loan Amount')
plt.title('Applicant Income vs. Loan Amount with Property Area')
plt.legend(title='Property Area', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

In [ ]:
mat = dataset.corr()
plt.figure(figsize=(8, 6))
sns.heatmap(mat, annot = True, linewidths= 0.5)
plt.title('Correlation Matrix - Highlighting Highly Correlated Features')
plt.show()

In [ ]:
plt.hist(dataset['LoanAmount'], bins=20, edgecolor='k')
plt.xlabel('Loan Amount')
plt.ylabel('Frequency')
plt.title('Distribution of Loan Amount')
plt.show()

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=len(dataset.columns), figsize=(14, 8))

for i, column in enumerate(dataset.columns):
    sns.boxplot(x=dataset[column], ax=axes[1, i])
    axes[1, i].set_title(f'{column}')
    
plt.tight_layout()
plt.show()

In [ ]:
import numpy as np
arr = np.arange(1,11)
arr
 
arr2 = np.arange(11,21)
arr2
 
add= arr + arr2
sub= arr - arr2
mul = arr * arr2
div= arr / arr2

print("Addition Result:", add)
print("Subtraction Result:", sub)
print("Multiplication Result:", mul)
print("Division Result:", div)

In [ ]:
arr_mat = arr.reshape(2, 5)
print("Reshaped Array:")
print(arr_mat)

In [ ]:
T_mat = arr_mat.T
print("Transposed Matrix:")
print(T_mat)

In [ ]:
f_mat = T_mat.flatten()
print("Flattened Array:")
print(f_mat)

In [ ]:
stack = np.vstack((arr, arr2))
print("Stacked Result:")
print(stack)

In [ ]:
mean = np.mean(arr)
median = np.median(arr)
sd = np.std(arr)

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", sd)

In [ ]:
max= np.max(arr)
min = np.min(arr)

In [ ]:
nor = (arr - mean) / sd
print("Normalized Array:")
print(nor)

In [ ]:
bool_arr = arr > 5
print("Boolean Array:")
print(bool_arr)

In [ ]:
new_arr= arr[bool_arr]
print("Extracted elements :")
print(new_arr)

In [ ]:
random_matrix = np.random.rand(3, 3)
print("Random 3x3 Matrix:")
print(random_matrix)

In [ ]:
ran_int = np.random.randint(1, 101, size=10)
print("Array of 10 Random Integers:")
print(ran_int)

In [ ]:
shuffled_arr = np.random.shuffle(arr.copy())
print("Shuffled Array:")
print(arr)

In [ ]:
sqrt_arr = np.sqrt(arr)
print("Square Root of 'arr':")
print(sqrt_arr)

In [ ]:
exp_arr = np.exp(arr)
print("Exponential Function (e^x) for each element in 'arr':")
print(exp_arr)

In [ ]:
mat_a = np.random.rand(3, 3)
print(mat_a)

In [ ]:
vec_b = np.random.rand(3, 1)
print(vec_b)

In [ ]:
result = np.dot(mat_a, vec_b)
print(result)

In [ ]:
mat = np.arange(1, 10).reshape(3, 3)
print(mat)

In [ ]:
row_means = np.mean(mat, axis=1, keepdims=True)
nor_mat = mat - row_means
print(nor_mat)